/* Body Font */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */

.header {
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    flex-shrink: 0;


}

.first-div {

    display: block;
    padding: 216px 230px 364px 845px;

}

.header-title {

    width: 525px;
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;

}

.description-1 {

    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;

}

.btn {

    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    margin-left: 350px;
    border-radius: 5px;
    background: #F15B22;
    padding: 25px;
    border: 0px;
    margin-top: 30px;

}

/* Styles Part */

.section-01 {

    display: flex;
    margin-left: 277px;
    margin-bottom: 134px;
}

.image-01 {

    width: 451px;
    height: 898px;
    flex-shrink: 0;
    margin-top: 140px;
    background-color: #F15B2233;
    border-radius: 527.929px;
    background-position: bottom;
    width: 527.929px;
    height: 527.929px;

}

.div-function-01 {
    margin-top: 370px;
    margin-right: 322px;
    margin-left: 200px;
}

.header-title-02 {

    color: Dark 01;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;

}

.description-03 {

    width: 416px;
    color: Dark 02;
    font-size: 16px;
    font-weight: 400;
}

.section-02 {

    margin-top: 100px;
    background: #FFF;



}

.header-title-03 {

    color: Dark 01;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-align: center;



}

.my-plans-div {

    display: flex;

    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 50px 90px;
}

.img-02 {

    width: 92.958px;
    height: 92.958px;
    flex-shrink: 0;
}

/* .div-function-02 {

    gap: 50px;
    padding: 0px;
} */

.description-03 {

    color: Dark 03;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}

.section-03 {

    background-image: url("images/watch.png");
    background-repeat: no-repeat;
    backdrop-filter: #F15B22;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #F15B22;
    margin: 130px 235px;
    border: 0px;

}

.div-function-03 {

    padding: 40px 617px 100px 64px;
}

.header-title-05 {

    color: #FFF;
    font-size: 40px;
    font-weight: 700;

}

.btn-02 {
    width: 140px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;

}

/* Footer Part  */

.section-04 {

    display: flex;
    background-color: #151414;
    width: 1600px;
    height: 577px;
    flex-shrink: 0;
}

.div-function-04 {

    padding-top: 130px;
    padding-left: 200px;
}

.section-04>div {
    gap: 35px;
}

.section-04 img {

    margin: 5px;
}

.header-title-06 {

    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.description-04 {

    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;

}

.subscribe {
    padding-top: 130px;
    padding-left: 200px;
    padding-top: 130px;
    margin-right: 100px;
}

.description-05 {

    color: #FFF;
    font-size: 25px;
    font-weight: 600;

}

#email {

    width: 325px;
    height: 64px;
    flex-shrink: 0;
    padding: 20px 100px 20px 20px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    border-radius: 5px;

}

.btn-03 {

    width: 170.106px;
    height: 64px;
    flex-shrink: 0;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-radius: 5px;
}